{% load static %}
<div style="display: none">
    <img id="cross-prototype" src="{% static 'threeK_game/images/x.png' %}" alt="cross" />
    <img id="nought-prototype" src="{% static 'threeK_game/images/o.png' %}" alt="nought" />
    <div id="game-prototype">
        <div class="container">
            <div class="row">
                <div class="col-auto fields">
                    <div class="field" data-x="0" data-y="0"></div>
                    <div class="field" data-x="1" data-y="0"></div>
                    <div class="field" data-x="2" data-y="0"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-auto fields">
                    <div class="field" data-x="0" data-y="1"></div>
                    <div class="field" data-x="1" data-y="1"></div>
                    <div class="field" data-x="2" data-y="1"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-auto fields">
                    <div class="field" data-x="0" data-y="2"></div>
                    <div class="field" data-x="1" data-y="2"></div>
                    <div class="field" data-x="2" data-y="2"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<p class="figure"></p>
<p class="turn"></p>
<div class="game"></div>