{% extends 'base.html' %}
{% block content %}



<div class="container">
    <div class="row">
        <div class="col">
            <h1> HOME </h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="main-content">
                <button id="play-button" class="btn btn-success">Play</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="text" class="test-x-input" >x</input>
        </div>
        <div class="col">
            <input type="text" class="test-y-input" >y</input>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="test-button btn btn-success">send</button>
        </div>
    </div>

</div>

{% endblock %}

{% block javascripts %}
{{ block.super }}
<script>
    let gameSocket;

    $(document).on('click', '#play-button', initSocket);

    $(document).on('click', '.test-button', () =>{
        gameSocket.send(JSON.stringify({
                message: "move",
                x: $('.test-x-input').val(),
                y: $('.test-y-input').val(),
            }));        

        //console.log($('.test-x-input').val())
        //Console.Log($('test-y-input').value)


    }); 


    function initSocket(){
        gameSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/game/');
        gameSocket.onmessage = function(e){
            let data = JSON.parse(e.data);
            console.log(data);

            switch(data.type) {
                case 'connect':
                    $('.main-content').html('<div class="lds-grid"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>');
                    $('.main-content').append('<p>Trwa oczekiwanie na przeciwnika...</p>');
                    break;
                case 'created_game':
                    $('.main-content').load('/game');
                    break;
            }
        }
    }
</script>
{% endblock %}