{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>
    <img src="../../static/threeK_game/images/tic-tac-toe.svg" class="logo-pic" alt="logo">
     Ostatnie gry
</h1>
{% if games %}
<table>
    <thead>
        <tr>
            <th>Lp.</th>
            <th>Gracz 1</th>
            <th>Gracz 2</th>
            <th>Wygrany</th>
            <th>Akcja</th>
        </tr>
    </thead>
    <tbody>
    {% for game in games %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td><a href="{% url 'three_k:profile' game.match.playerA.user %}">{{game.match.playerA.user}}</a></td>
            <td><a href="{% url 'three_k:profile' game.match.playerB.user %}">{{game.match.playerB.user}}</a></td>
            <td>
                {% if game.result == 0 %}Remis{% endif %}
                {% if game.result == 1 %}{{game.match.playerA.user}}{% endif %}
                {% if game.result == 2 %}{{game.match.playerB.user}}{% endif %}
            </td>
            <td><a href="{% url 'three_k:game' game.id %}" class="btn btn-secondary btn-orange btn-sm">Wyświetl</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
<a href="{% url 'three_k:home' %}" id="play-button" class="btn btn-secondary btn-orange">Menu</a>

{% endblock %}