{% extends 'base.html' %}
{% block content %}

  <h2>Rejestracja</h2>
  {% if form.errors %}
    <div class="alert alert-danger">
      Niewłaściwy nick, albo hasła się różnią. Spróbuj ponownie.
    </div>
  {% endif %}

  <form method="post" class="auth-form">
    {% csrf_token %}
    {%  for field in form %}
      <div class="form-group">
        {{field}}
      </div>
    {% endfor %}
    <input type="submit" value="Zarejestruj się" class="btn btn-primary">
    <a href="/" class="btn">Powrót</a>
  </form>

{% endblock %}