*{
  box-sizing: border-box;
}
body{
    background: #3b5c3f;
}

main{
  margin-top: 20em;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

nav{
  display: flex;
  flex-direction: column;
}

.main-content-container{
  overflow: auto;
  position: absolute;
  background-color:#efefef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 300px;
  z-index: 10;
  -webkit-box-shadow: 0px 13px 43px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 13px 43px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 13px 43px 2px rgba(0,0,0,0.75);
}

.btn-orange{
  background-color: #C4970A;
  padding: 7px 30px;

}

.btn-orange:hover{
  background-color: #826407;
  
}

.logo-pic{
  width: 50px;
  height: auto;
}

.fields {
    display: flex;
}

.fields > .field:first-child {
    border-left: none;
}

.game > .container > .row:first-child .field {
    border-top: none;
}

.field {
    width: 160px;
    height: 160px;
    padding: 20px;
    border-top: solid 1px black;
    border-left: solid 1px black;
}

.field:empty {
  cursor: pointer;
}

.field img {
    max-width: 100%;
    max-height: 100%;
}

.lds-grid {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-grid div {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation: lds-grid 1.2s linear infinite;
  }
  .lds-grid div:nth-child(1) {
    top: 6px;
    left: 6px;
    animation-delay: 0s;
  }
  .lds-grid div:nth-child(2) {
    top: 6px;
    left: 26px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(3) {
    top: 6px;
    left: 45px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(4) {
    top: 26px;
    left: 6px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(5) {
    top: 26px;
    left: 26px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(6) {
    top: 26px;
    left: 45px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(7) {
    top: 45px;
    left: 6px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(8) {
    top: 45px;
    left: 26px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(9) {
    top: 45px;
    left: 45px;
    animation-delay: -1.6s;
  }
  @keyframes lds-grid {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
  
